@CHARSET "ISO-8859-1";
.dinacs-button{
background-color: rebeccapurple; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}